rpcuser={{ or (getenv "BITCOIN_RPC_USER") "bitcoinrpc" }}
rpcpassword={{ or (getenv "BITCOIN_RPC_PASSWORD") "bitcoinrpcpassword" }}
server=1
txindex=1
bind={{ or (getenv "BITCOIN_BIND") "127.0.0.1" }}
rpcbind={{ or (getenv "BITCOIN_RPC_BIND") "127.0.0.1" }}
rpcallowip={{ or (getenv "BITCOIN_RPC_ALLOWIP") "0.0.0.0/0" }}
